*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    font-family: "Lexend", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

article{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
}

.titulo{
    font-size: 3rem;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

#cidade{
    all: unset;
    min-width: 60%;
    padding: 5px;
    border-bottom: rgb(98, 97, 97) 2px solid;
    
}
#cidade::placeholder{
    color: rgb(46, 44, 44);
}
#botao{
    all: unset;
    cursor: pointer;
    margin-left: 10px;
}
#resultado{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

@media (max-width: 480px) {
    
    article{
        width: 80%;
    }
    
}